.section__map-page{
    overflow: hidden;
}
path.rsm-geography {
    outline: none;
}
.map-area{
    max-height: 600px;
}
.zoomBtn__container {
    position: absolute;
    background: rgba(255,255,255,0.8);
}
button.MuiButtonBase-root.MuiIconButton-root.button {
    outline: none;
}
@media screen and (max-width:767px){
    .__react_component_tooltip{
        padding: 5px 10px;
        font-size: 12px;
    }
}