.homepage{
    position: relative;
    background: #FBFBFC;
    text-align: center;
    height: 100vh;
    max-width: 100%;
    overflow-y: hidden;
}
.homepage__contents{
    max-width: 900px;
    background: #fff;
    border: 1px solid #D2D2D2;
    border-radius: 15px;
    padding: 50px 20px;
    margin: auto;
    transform: translateY(10%);
}

.homepage__contents h3{
    font-size: 20px;
    margin-bottom: 15px;
}

/* count */
.count__parent{
    max-width: 400px;
    margin: 30px auto 0;
    background: #f5f5f5;
    border: 1px solid #D2D2D2;
    padding: 20px 10px;
    border-radius: 15px;
}
.count__parent div{
    display: inline-block;
}

.count__parent span{
    font-size: 24px;
    font-weight: bold;
}
.count__parent .prohibitions{
    margin-right: 20px;
    color: #d2403e;
}
.count__parent .restrictions{
    color: #fd9d9c;
}
.count__container{
    position: relative;
    max-width: 900px;
    margin: auto;
}
.count__container img{
    position: absolute;
}
.count__container img:nth-child(1){
    top: -100px;
    left: 90px;
    width: 15%;
}
.count__container img:nth-child(2){
    right: 40px;
    width: 20%;
}
.homepage__btn-group{
    position: relative;
    width: 680px;
    margin: 0 auto !important;
    text-align: center;
    overflow: hidden;
}
.homepage__btn-group button:nth-child(1){
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.homepage__btn-group button:nth-child(2){
    float: right;
}
.count__parent .count__source{
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
}

/* AutoComplete */
.homepage__contents>div{
    position: relative;
    max-width: 680px;
    margin: 0 auto 40px;
}
.homepage__contents input{
    outline: none;
    padding-left: 30px;
}

.MuiOutlinedInput-notchedOutline{
    border: 1px solid #000 !important;
}

.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"]{
    padding-right: 10px;
}

@media (max-width: 767px){
    .homepage__contents h3{
        font-size: 14px;
    }
    .homepage__contents{
        transform: none;
        margin-top: 45px;
    }
    .homepage__btn-group{
        width: 100%;
    }
    .homepage__btn-group button:nth-child(1){
        position: initial;
        transform: none;
        margin-bottom: 20px;
    }
    .homepage__btn-group button:nth-child(2){
        float: none;
    }
    .count__container img{
        display: none;
    }
}