/* @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap'); */
.member__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding: 0 40px;
}
.member-box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* font-family: 'Montserrat', sans-serif; */
}
.member-box img{
    width: 108px;
    height: 108px;
    border-radius: 50%;
}
.member-box p{
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
    margin-top: 20px;
}
.member-box__member{
    display: flex;
    align-items: flex-end;
}
.member__name-box{
    margin-left: 20px;
    margin-bottom: 20px;
}
.member__name-box h2{
    font-size: 18px;
    margin: 0;
    font-weight: bold;
}
.member__name-box span{
    font-size: 14px;
    color: #777777;
}

@media screen and (max-width:1120px){
    .member__container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width:767px){
    .member__container{
        grid-template-columns: repeat(1, 1fr);
    }
}