.nav {
  position: absolute;
  left: 50%;
  bottom: 10vh;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  width: 60%;
  border: 1px solid #000;
}

.nav .active {
  font-weight: bold;
}
